body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}
#myH1{
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: hsl(0, 0%, 25%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}
#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startBtn{
    background-color: hsl(115, 100%, 40%);
}
#startBtn:hover{
    background-color: hsl(115, 100%, 30%);
}
#stopBtn{
    background-color: hsl(10, 90%, 50%);
}
#stopBtn:hover{
    background-color: hsl(10, 90%, 40%);
}
#resetBtn{
    background-color: hsl(205, 90%, 60%);
}
#resetBtn:hover{
    background-color: hsl(205, 90%, 50%);
}
.back-button{
position: absolute;
top: 30px;
left: 30px;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
font-size: 1.2rem;
cursor: pointer;
 transition: all 0.4s ease; /* Smooth transition for all properties */
  cursor: pointer;


}
.back-button:hover {
  transform: scale(1.42); /* Enlarges the button */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); /* Adds a shadow for depth */
  filter: brightness(1.1); /* Slightly brightens the button */
}