body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}

#display{
    width: 100%;
    padding: 20px;
font-size: 5rem;
text-align: left;
border: none;
background-color: hsl(0, 0%, 20%);
color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
.back-button{
position: absolute;
top: 30px;
left: 30px;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
font-size: 1.2rem;
cursor: pointer;
 transition: all 0.4s ease; /* Smooth transition for all properties */
  cursor: pointer;


}
.back-button:hover {
  transform: scale(1.42); /* Enlarges the button */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); /* Adds a shadow for depth */
  filter: brightness(1.1); /* Slightly brightens the button */
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}