
body{
    background-image: url(pomodro.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
   
}
.container{
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}
.back-button{
position: absolute;
top: 30px;
left: 30px;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
font-size: 1.2rem;
cursor: pointer;
 transition: all 0.4s ease; /* Smooth transition for all properties */
  cursor: pointer;


}
.back-button:hover {
  transform: scale(1.42); /* Enlarges the button */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); /* Adds a shadow for depth */
  filter: brightness(1.1); /* Slightly brightens the button */
}
.title{
    font-size: 36px;
    margin-bottom: 10px;
   color: #D4D4D4;
}

.timer{
    font-size: 72px;
    color: #3a3a3a;
    margin: 15px;
        color: #D4D4D4;
    color: #D4D4D4;
 
}

button{
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: white;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;
   
}
button:hover {
opacity: .7;
}
#start {
    background-color: #27ae60;
}
#stop {
    background-color: #c0392b;
}

#reset {
    background-color: #7f8c8d;
}