body{
  margin: 0;
  font-family: Poppins;
  min-height: 100vh;
  background: linear-gradient(
    45deg, #eed6f5, #d3e6f3
  ); 
}
.back-button{
position: absolute;
top: 30px;
left: 30px;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
font-size: 1.2rem;
cursor: pointer;
 transition: all 0.4s ease; /* Smooth transition for all properties */
  cursor: pointer;


}
.back-button:hover {
  transform: scale(1.42); /* Enlarges the button */
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3); /* Adds a shadow for depth */
  filter: brightness(1.1); /* Slightly brightens the button */
}

.container{
   width: 470px;
   background-color: #fff5;
   max-width: 100vw;
   margin: 30px auto;
   text-align: center;
   padding: 20px;
   box-sizing: border-box;
   border-radius: 20px; 
}

.form{
    background-color: #fff;
    border-radius: inherit;
    padding: inherit;
}

.form h3{
    margin: 0;
    text-align: left;
}
.form form{
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: 40px;
}
.form form textarea{
    border: none;
    outline: none;
    resize: none;
    font-family: Poppins;
}
.form form button{
    background-color: #0d0112;
    color: #eee;
    font-family: Poppins;
    border-radius: 10px;
    border: none;
    font-size: small;
}
.list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.list li .complete-icon svg{
    width: 20px;
}

.list li .close-icon svg{
    width: 10px;
}
.list li{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    gap: 30px;
    text-align: left;
    padding: 10px;
}
.list li .complete-icon,
.list li .close-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.list li.complete{
    opacity: .5;
}
.list li.complete .complete-icon svg{
    color: green;
}